@import './reset';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weight , $weight-name);
}

@mixin flexcenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    font-weight: map-get($font-weight, bold);
    color: $text-color;
}

.main {
    @include flexcenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph1 {
        // font-weight: map-get($font-weight, bold);
        font-weight: weight(bold);
        
        &:hover {
            color: pink;
        }
    }

    @include mobile {
        flex-direction: column;
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: $accent-color;
        }
    }
}

.light {
    @include theme($light-theme: false);
}